@using ClickToBuy.Model
@model StockProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Create Stock</h2>
<hr />

<div class="row" id="createandeditfrom">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" asp-items="@ViewBag.ProductList" class="form-control">
                    <option value="">-- Select Product --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-lable"></label>
                <input type="number" asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">@ViewBag.ErrorMessage</span>
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

