@using ClickToBuy.Model
@model IEnumerable<City>

@{
    ViewData["Title"] = "City By Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">City Details</h2>
<hr />

<div class="row" id="datatables">
    <div class="col-md-6">
        <table id="myTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (City item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Country.Name</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="Update" asp-controller="City" class="btn btn-info"><i class="far fa-edit"></i> Update</a>
                            <a asp-route-id="@item.Id" asp-action="Remove" asp-controller="City" class="btn btn-danger"><i class="far fa-trash-alt"></i> Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

