@using ClickToBuy.Model
@model IEnumerable<City>

@{
    ViewData["Title"] = "City By Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">City Details</h2>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (City item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Country.Name</td>
                            <td>
                                <a asp-controller="City" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Update</a>
                                <a asp-controller="City" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>City</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>

