@using ClickToBuy.Model
@model Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-panel">
    <h2 id="hadertitle"> Create Customer</h2>
    <hr />
    <div class="form" style="margin-top:50px">
        <form method="post" asp-action="Create" class="cmxform form-horizontal style-form" enctype="multipart/form-data">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId" class="control-label col-lg-2">Country</label>
                    <div class="col-lg-8">
                        <select asp-for="CountryId" asp-items="@ViewBag.CountryList" class="form-control">
                            <option value="">-- Select Country --</option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Pictuer" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="file" name="Pictuer" asp-for="Pictuer" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Contact" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="number" asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="GenderId" class="control-label col-lg-2">Gender</label>
                    <div class="col-lg-8">
                        <select asp-for="GenderId" asp-items="@ViewBag.GenderList" class="form-control">
                            <option value="">-- Select Gender --</option>
                        </select>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CityId" class="control-label col-lg-2">City</label>
                    <div class="col-lg-8">
                        <select asp-for="CityId" class="form-control">
                            <option value="">-- Select City --</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <textarea asp-for="Address" class="form-control" placeholder="Type your address"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-left:100px">
                <div class="col-lg-offset-2 col-lg-10">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                    <input type="submit" value="Create" class="btn btn-theme" />
                    <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {              

            $("#Contact").change(function () {
                var contactNo = $("#Contact").val();
                var serverUrl = '/api/Customer/CheckContact?contactno=' + contactNo;

                $.ajax({
                    url: serverUrl,
                    success: function (response) { 
                        if (response == 1) {
                            alert("Contact is exist! Please try new one.");
                            $('#Contact').val('');                            
                        }
                    }
                });
            });

            $("#Email").change(function () {
                var email = $("#Email").val();
                var serverUrl = '/api/Customer/CheckEmail?email=' + email;

                $.ajax({
                    url: serverUrl,
                    success: function (response) { 
                        if (response == 1) {
                            alert("email is exist! Please try new one.");
                            $('#Email').val('');                            
                        }
                    }
                });
            });

             $("#CountryId").change(function () {
                var countryId = $("#CountryId").val();
                $("#CityId").empty();
                $("#CityId").append('<option value="">-- Select City --</option>');
                var serverUrl = '/api/Customer/GetCityByCountry?countryId=' + countryId;

                 $.ajax({
                     url: serverUrl,
                     success: function (response) {
                         $.each(response, (key, value) => {
                             $("#CityId").append('<option value=' + value.id + '>' + value.name + '</option>');
                         });
                     },
                     error: function (response) {
                         alert("Error Happend");
                     }
                 });   
            });
        });
    </script>
}

