@using ClickToBuy.Model
@model Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Create Customer</h2>
<hr />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row" id="createandeditfrom">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-lable"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-lable"></label>
                <input type="number" asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Password" class="control-lable"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>             
            <div class="form-group">
                <label asp-for="GenderId" class="control-label">Gender</label>
                <select asp-for="GenderId" asp-items="@ViewBag.GenderList" class="form-control">
                    <option value="">-- Select Gender --</option>
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="CityId" class="control-label">City</label>
                <select asp-for="CityId" asp-items="@ViewBag.CityList" class="form-control">
                    <option value="">-- Select City --</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Pictuer" class="control-lable"></label>
                <input type="file" name="Pictuer" asp-for="Pictuer" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-lable"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-lable"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country</label>
                <select asp-for="CountryId" asp-items="@ViewBag.CountryList" class="form-control">
                    <option value="">-- Select Country --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-lable"></label>
                <textarea asp-for="Address" class="form-control" placeholder="Type your address"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 320px">
        <div class="col-md-12">
            <div class="form-group">
                <span class="text-danger">@ViewBag.ErrorMessage</span>
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {
            $("#Contact").change(function () {
                var contactNo = $("#Contact").val();
                var serverUrl = '/api/Customer/CheckContact?contactno=' + contactNo;

                $.ajax({
                    url: serverUrl,
                    success: function (response) { 

                        if (response == 1) {
                            alert("Contact is exist! Please try new one.");
                            $('#Contact').val('');                            
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#Email").change(function () {
                var email = $("#Email").val();
                var serverUrl = '/api/Customer/CheckEmail?email=' + email;

                $.ajax({
                    url: serverUrl,
                    success: function (response) { 

                        if (response == 1) {
                            alert("email is exist! Please try new one.");
                            $('#Email').val('');                            
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });
        });
    </script>
}

