@using ClickToBuy.Model
@model PurchasePayment

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-panel">
        <h2 id="hadertitle"> Update Purchase</h2>
        <hr />
        <div class="form" style="margin-top:50px">
            <form method="post" asp-action="Update" class="cmxform form-horizontal style-form">
                <div class="form-group">
                    <label asp-for="PayAmount" class="control-label col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="number" asp-for="PayAmount" class="form-control" />
                        <span asp-validation-for="PayAmount" class="text-danger"></span>
                    </div>
                </div>   
                <div class="form-group">
                    <label asp-for="DueAmount" class="control-label col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="number" asp-for="DueAmount" class="form-control" />
                        <span asp-validation-for="DueAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                        <input type="hidden" asp-for="Id" value="@Model.Id"/>
                        <input type="hidden" asp-for="PurchaseId" value="@Model.PurchaseId" />
                        <input type="hidden" asp-for="Date" value="@Model.Date" />
                        <input type="submit" value="Update" class="btn btn-theme" />
                        <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            var payAmount = parseFloat($("#PayAmount").val());
            var dueAmount = parseFloat($("#DueAmount").val());

            $("#DueAmount").change(function () {
                var addAmount = parseFloat(payAmount + dueAmount);
                $("#PayAmount").val(addAmount);
                $("#DueAmount").val(0);
            });
        });
    </script>
}

